[submodule "octave_lightbar_master/octave_lightbar_master/submodules/Realtime_PyAudio_FFT"]
	path = octave_lightbar_master/octave_lightbar_master/submodules/Realtime_PyAudio_FFT
	url = git@github.com:aiXander/Realtime_PyAudio_FFT.git
