[submodule "sunet_virtual_env/sunet_virtual_env/submodules/Realtime_PyAudio_FFT"]
	path = sunet_virtual_env/sunet_virtual_env/submodules/Realtime_PyAudio_FFT
	url = git@github.com:aiXander/Realtime_PyAudio_FFT.git
